.auth{
    display: flex;
    align-items: center;
}
.nav-link{
    background-color: rgb(158, 158, 158);
    margin-right: 5px;
    border-radius: 5px;
    padding: 3px;
}

.img-user{
    width: 100px;
}