<div class="crear-contacto mx-auto">
    <h3 class="text-center">{{ isCreate ? 'Registrar Usuario' : 'Actualizar Usuario' }}</h3>
    <form
      [formGroup]="formUser"
      (ngSubmit)="onSubmit()"
      class="shadow bg-white p-5 rounded"
    >
      <div class="form-floating mb-3">
        <input
          formControlName="userFullName"
          type="text"
          class="form-control"
          id="userFullName"
          placeholder="name@example.com"
        />
        <label for="userFullName">User Full Name</label>
      </div>
  
      <div class="form-floating mb-3">
        <input
          formControlName="userName"
          type="text"
          class="form-control"
          id="userName"
          placeholder="name@example.com"
        />
        <label for="userName">User Name</label>
        <span
              *ngIf="
                !formUser.get('userName')!.valid &&
                formUser.get('userName')!.touched
              "
              class="help-blok"
              >Ingrese un nombre de usuario valido
            </span>
      </div>
  
      <div class="form-floating mb-3">
        <input
          formControlName="userPassword"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>
  
      <div class="form-floating mb-3">
        <input
          formControlName="userEmail"
          type="email"
          class="form-control"
          id="userEmail"
          placeholder="name@example.com"
        />
        <label for="userEmail">Email</label>
      </div>
  
      <!-- Input de imagen previa -->
      <div class="row shadow p-2 mb-3">
        <div class="col-md-8">
          <div class="form-floating mb-3">
            <input
              type="file"
              alife-file-to-base64
              (change)="onSelectImage($event)"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-preview">
            <img class="img-user" [src]="urlImage" alt="" />
          </div>
        </div>
      </div>
     
  
      <div class="col-12">
        <button
          [disabled]="!formUser.valid"
          type="submit"
          class="btn btn-primary"
        >
         {{ isCreate ? 'Guardar' : 'Actualizar' }}
        </button>
      </div>
    </form>
  </div>
  
