<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="open(content)">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button type="button" class="btn btn-primary">
      Contactos <span class="badge bg-danger">{{ total }}</span>
    </button>
  </div>
  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvas-basic-title">{{ title }}</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="offcanvas.dismiss('Cross click')"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div *ngIf="user" class="card" style="width: 18rem">
        <img
        (click)="onEditProfile(user)" (click)="offcanvas.close('Save click')"
          [attr.src]="user.userPhoto"
          class="rounded mx-auto d-block cursor-pointer"
          alt=""
          style="width: 100px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ user.userFullName }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">User Name: {{ user.userName }}</li>
          <li class="list-group-item">Email: {{ user.userEmail }}</li>
        </ul>
      </div>

      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5 bg-light">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/contacts"
            (click)="offcanvas.close('Save click')"
            >Contactos</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/users"
            (click)="offcanvas.close('Save click')"
            >Usuarios</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/about"
            (click)="offcanvas.close('Save click')"
            >Acerca de</a
          >
        </li>
      </ul>
	  <div class="logout mb-3">
		<button class="btn btn-success" (click)="logout()" (click)="offcanvas.close('Save click')">Logout</button>
	  </div>
    <div class="logout">
      <button class="btn btn-success mb-3" (click)="refreshToken()" (click)="offcanvas.close('Save click')">Refresh Token</button>
      </div>
    </div>
  </ng-template>
</nav>
